@import "../../_globalColor";

.skills-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.skills-column {
  flex: 1;
  margin-right: 20px;
}

.skills-column:last-child {
  margin-right: 0;
}

.skill {
  line-height: 3.5vw;
  margin-bottom: 1.5rem;
}

.meter {
  height: 20px;
  position: relative;
  background: $progressBarBackground;
  border-radius: 25px;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-color: $progressBarSpanBG;
  position: relative;
  overflow: hidden;
}

.skills-heading {
  margin-left: 5%;
}

/* Media Query */

@media (max-width: 1456px) {
  .skills-bar {
    line-height: 4rem;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-bar {
    line-height: 3rem;
    margin: 20px;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}
